nameOverride: driver

fullnameOverride: routex-hub-driver-service

replicaCount: 1

image:
  repository: registry.gitlab.com/orion-hub/routex-hub-driver-service
  tag: "dev"          # sẽ được cập nhật theo tag/sha
  pullPolicy: IfNotPresent

containerPort: 8080

imagePullSecrets:
  - name: gitlab-registry

serviceAccount:
  create: true
  name: routex-hub-driver-sa

service:
  type: ClusterIP
  port: 80

env:
  - name: SPRING_PROFILES_ACTIVE
    value: dev
  - name: SERVER_PORT
    value: "8080"

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

probes:
  readiness:
    path: /actuator/health/readiness
  liveness:
    path: /actuator/health/liveness


ingress:
  enabled: true
  className: nginx
  host: driver-dev.routex.local
  path: /
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  tls:
    enabled: false
    secretName: ""