nameOverride: driver
fullnameOverride: routex-hub-driver-service
replicaCount: 2
image:
  repository: registry.gitlab.com/orion-hub/routex-hub-driver-service
  tag: "v0.0.18" # sẽ được cập nhật theo tag/sha
  pullPolicy: IfNotPresent
containerPort: 8080
imagePullSecrets:
  - name: gitlab-registry
serviceAccount:
  create: true
  name: routex-hub-driver-sa
service:
  type: ClusterIP
  port: 80
env:
  - name: SPRING_PROFILES_ACTIVE
    value: dev
  - name: SERVER_PORT
    value: "8080"
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:postgresql://postgresql.postgresql.svc.cluster.local:5432/routex"
  - name: SPRING_DATASOURCE_USERNAME
    value: routex
envFromSecret:
  - name: SPRING_DATASOURCE_PASSWORD
    secretName: postgresql-secret
    key: POSTGRES_PASSWORD
resources:
  requests:
    cpu: 500m
    memory: 512Mi
  limits:
    cpu: "1"
    memory: 1Gi
ingress:
  enabled: false
#  className: nginx
#  host: driver-dev.routex.local
#  path: /
#  annotations:
#    nginx.ingress.kubernetes.io/ssl-redirect: "false"
#  tls:
#    enabled: false
#    secretName: ""
