nameOverride: driver
fullnameOverride: routex-hub-driver-service
replicaCount: 2
image:
  repository: registry.gitlab.com/orion-hub/routex-hub-driver-service
  tag: "v0.0.7" # sẽ được cập nhật theo tag/sha
  pullPolicy: IfNotPresent
containerPort: 8080
imagePullSecrets:
  - name: gitlab-registry
serviceAccount:
  create: true
  name: routex-hub-driver-sa
service:
  type: ClusterIP
  port: 80
env:
  - name: SPRING_PROFILES_ACTIVE
    value: dev
  - name: SERVER_PORT
    value: "8080"
  - name: SPRING_DATASOURCE_URL
    value: jdbc:postgresql://postgresql:5432/routex
  - name: SPRING_DATASOURCE_USERNAME
    value: routex
envFromSecret:
  - name: SPRING_DATASOURCE_PASSWORD
    secretName: postgresql-secret
    key: POSTGRES_PASSWORD
resources:
  requests:
    cpu: 500m
    memory: 512Mi
  limits:
    cpu: "1"
    memory: 1Gi
probes:
  startupProbe:
    enabled: true
    type: tcp
    port: 8080
    periodSeconds: 5
    timeoutSeconds: 2
    failureThreshold: 90

  readinessProbe:
    enabled: true
    type: tcp
    port: 8080
    periodSeconds: 10
    timeoutSeconds: 2
    failureThreshold: 12
    successThreshold: 1

  livenessProbe:
    enabled: true
    type: tcp
    port: 8080
    periodSeconds: 20
    timeoutSeconds: 2
    failureThreshold: 6
    successThreshold: 1

probeAuth:
  enabled: true
  # base64("admin:admin") ví dụ -> đổi theo user/pass bạn đang dùng
  authorization: "Basic YWRtaW46YWRtaW4="

ingress:
  enabled: true
  className: nginx
  host: driver-dev.routex.local
  path: /
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  tls:
    enabled: false
    secretName: ""
