nameOverride: driver
fullnameOverride: routex-hub-driver-service
replicaCount: 2
image:
  repository: registry.gitlab.com/orion-hub/routex-hub-driver-service
  tag: "v0.0.4" # sẽ được cập nhật theo tag/sha
  pullPolicy: IfNotPresent
containerPort: 8080
imagePullSecrets:
  - name: gitlab-registry
serviceAccount:
  create: true
  name: routex-hub-driver-sa
service:
  type: ClusterIP
  port: 80
env:
  - name: SPRING_PROFILES_ACTIVE
    value: dev
  - name: SERVER_PORT
    value: "8080"
  - name: SPRING_DATASOURCE_URL
    value: jdbc:postgresql://postgresql:5432/routex
  - name: SPRING_DATASOURCE_USERNAME
    value: routex
envFromSecret:
  - name: SPRING_DATASOURCE_PASSWORD
    secretName: postgresql-secret
    key: POSTGRES_PASSWORD
resources:
  requests:
    cpu: 300m
    memory: 512Mi
  limits:
    cpu: "1"
    memory: 1Gi
probes:
  startup:
    path: /actuator/health/readiness
    failureThreshold: 30
    periodSeconds: 5
    timeoutSeconds: 2

  readiness:
    path: /actuator/health/readiness
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 2
    failureThreshold: 6

  liveness:
    path: /actuator/health/liveness
    initialDelaySeconds: 30
    periodSeconds: 20
    timeoutSeconds: 2
    failureThreshold: 6
ingress:
  enabled: true
  className: nginx
  host: driver-dev.routex.local
  path: /
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  tls:
    enabled: false
    secretName: ""
