replicaCount: 2

image:
  repository: registry.gitlab.com/orion-hub/orion-hub-product-service
  tag: "latest"
  pullPolicy: IfNotPresent

containerPort: 8080

spring:
  profile: dev

imagePullSecrets:
  - name: gitlab-registry

service:
  type: ClusterIP
  port: 80

serviceAccount:
  create: true
  name: product-service

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi